.App {
    .sidebar {
        width: 16%;
        height: 100vh;
        background-color: #191d2b;
        position: fixed;
        border-right: 1px solid #2e344e;
        z-index: 11;
        transform-origin: left;
        @media screen and (max-width: 1000px) {
            transition: all 0.15s ease-in-out;
            width: 30%;
            transform: translateX(-100%);
        }
        @media screen and (max-width: 500px) {
            width: 45%;
        }
    }
    .nav-toggle {
        @media screen and (max-width: 1000px) {
            transition: all 0.15s ease-in-out;
            transform: translateX(0);
        }
    }

    .main-content {
        width: 84%;
        margin-left: 16%;
        background-color: #10121b;
        min-height: 100vh;
        background-position: 80% 40%; 
        background-size: 100%;
        background-image: url("../img/dotted.png");
        background-attachment: fixed;
        display: grid;
        position: absolute;

        .content {
            margin: 5rem 15rem;
            @media screen and (max-width: 1400px) {
                margin: 4rem 10rem;
            }
            @media screen and (max-width: 500px) {
                margin: 4rem 2rem;
            }
        }

        @media screen and (max-width: 1000px) {
            margin-left: 0;
            width: 100%;
        }
    }
}

canvas {
    display:block;
    position: fixed;
}

.nav-btn {
    position: absolute;
    z-index: 10;
    right: 4%;
    top: 4%;
    width: 3rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    .lines-1,
    .lines-2,
    .lines-3 {
        border-radius: 2px;
        height: 0.3rem;
        width: 100%;
        background-color: #f77f00;
        display: none;
        pointer-events: none;
        &:not(:last-child) {
            margin-bottom: 0.4rem;
        }
    }
    @media screen and (max-width: 1000px) {
        display: block;
        .lines-1,
        .lines-2,
        .lines-3 {
            display: block;
        }
    }

}
